
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --nav-color: #607d8b;
  --header-color: #5c433a;
  --header-ff: 'georgia', serif;
  --subheader-ff: 'Poppins', sans-serif;
  --p-ff: 'Poppins', sans-serif;
  --footer-ff: 'Work Sans', sans-serif;
  --header-fs: 25px;
  --subheader-fs: 18px;
  --p-fs: 14px;
  --footer-fs: 13px;
  --line-height: 1.2rem;
}

body {
 overflow-y: scroll;
}

body::-webkit-scrollbar{
  display: none;
}


/*header*/

.nav-link{
  text-decoration: none;
  color:var(--nav-color);
  font-weight: bold;
  font-family: var(--header-ff);
  font-size:var(--subheader-fs);
}

.navbar a:hover {
    color: var(--subheader-color);
    font-weight: bold;
    font-family: var(--header-ff);
    transition: color 0.5s ease-in;
  }

.navbar-brand img{
  width: 50vw;
  border-radius: 100px;
}

  /*Recipes section*/
  .container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
/*---------------------------main image------------------*/
.recipe-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  .recipe-img img{
    box-shadow: 2px 5px 5px 5px rgba(20, 29, 48, 0.56);
    width: 100%;
    height: 400px;
  }
  /* .the-recipe{ */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* padding: 20px; */
    /* margin-top: 50px; */
  /* } */


   #ingredients{
    display: flex;
    flex-direction: column;
    font-family: 'georgia', serif;
    font-size: 15px;
    line-height: 1.7;
  }
#ingredients li{
  list-style-type: none;
}
/* #myCheck{ */
  /* margin: 0.6rem; */
/* } */
/*  */
h2{
  padding: 15px;
  font-size: 30px;
  font-family: 'Pushster', cursive;
  color: var(--header-color);
}
.icon-cook{
  width: 3.5rem;
  height: 3.5rem;
  animation-name: icon-cook;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}
@keyframes icon-cook{
0%{transform:translateY(0vw);}
100%{transform:translateY(50vw);}
}
   #instructions{
  display: flex;
  flex-direction: column;
  font-family: 'georgia', serif;
  font-size: 17px;
  line-height: 1.5;
  border: 1px solid black;
  }

  #instructions li{
    list-style-type: round;
  }

  /*----------------------------------print img-------------------------*/
  #print img{
    width: 30px;
    height:30px;
    padding:2px;
  }
  #print:hover{
    background-color: lightgrey;
  }
  #print{
    display: block;
    margin:20px;
    width: 60px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
  }
  .rate {
      display:flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 46px;
      padding: 0 10px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:auto;
       clip:rect(0,0,0,0);
  }
  .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc000;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }

  footer{
    width: 100%;
    line-height: var(--line-height);
    font-family: var(--footer-ff);
    font-size: var(--footer-fs);
    
  }
  footer a{
    margin: 20px;
    color: black;
  text-decoration: none;
  }

a{
  text-decoration: none;
}

#your-rating{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}



@media print{
  img{
    display: none;
  }
}

@media (max-width: 768px){
  .recipes{
    display:flex;
    flex-direction: column;
  }

}

@media (max-width: 499px){
  .recipe-img{
    width: 100%;
    height: 270px;
  }


  .ul-recipe li{
    font-size: 0.8rem;
  }
  
.navbar-brand img{
  width: 80vw;
  border-radius: 100px;
}
.icon-cook{
  display: none;
}

}